@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body {
  height: 100%;
  background-color: #dbe4eb;
}

/* :root{
  --primary-color: #dc3545;
  --secondary-color: #01021c;
} */

:root{
    --primary-color: #f95a2b;
    --secondary-color: #0c125e;
  }
.bg-primary {
  background-color: var(--primary-color) !important;
}
.bg-secondary {
  background-color: var(--secondary-color) !important;
}
  select { cursor: pointer; }
  .heading-color { color: var(--secondary-color); }
  
  /* header-css */
  .header {
    background-color: var(--secondary-color);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 20px;
    z-index: 8;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  }
  header.sticky {
    padding: 5px 20px;
    background:  #b5df36;
  }
  header.sticky .navbar-dark .logo.navbar-brand.primary-color {
    color: var(--secondary-color);
    font-size: 28px;
  }
  header.sticky .navbar-dark .navbar-nav .active > .nav-link {
    color: var(--secondary-color);
  }
  
  /* navbar-menu-css */
  .navbar-dark .navbar-brand {
    font-size: 34px;
    font-weight: 800;
    color: var(--primary-color);
  }
  .navbar-icon-top .navbar-nav .nav-link > .fa {
    position: relative;
    width: 36px;
    font-size: 24px;
  }
  .navbar-icon-top .navbar-nav .nav-link > .fa > .badge {
    font-size: 0.75rem;
    position: absolute;
    right: 0;
    font-family: sans-serif;
  }
  .navbar-icon-top .navbar-nav .nav-link > .fa {
    top: 3px;
    line-height: 12px;
  }
  .navbar-icon-top .navbar-nav .nav-link > .fa > .badge {
    top: -10px;
  }
  .navbar-expand-lg {
    width: 100%;
  }
  .navbar-dark .navbar-nav .nav-link {
    font-weight: 600;
    color: #ffffff;
  }
  .navbar-dark .navbar-nav .active > .nav-link {
    color: var(--primary-color) !important;
  }
  .navbar-dark .navbar-nav .nav-link:focus,
  .navbar-dark .navbar-nav .nav-link:hover {
    color: var(--primary-color);
  }

  .nav-link {
    color: #ffffff !important;
  }
  .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #ffffff !important;
    color: #dc3545 !important;
    font-weight: 700;
  }

  .card.bg-body { 
    background-color: var(--secondary-color) !important;
    z-index: 999;
  }
  .gray-light {
    background-color: #dbe4eb;
  }
  .border-dashed {
    border-style: dashed !important;
  }

  /* .listing-review {

  } */






  

/* .badge.bg-success {
  background-color: #28a964 !important;
} */
.text-success {
    color: #28a964;
  }
  .bg-light-success {
    background-color: #d4eee4;
  }
  .fw-medium {
    font-weight: 500 !important;
  }
  .square-40 {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .text-sm {
    font-size: 14px;
  }
  .text-xs {
    font-size: 12px;
  }
  .bg-light-purple {
    background-color: #e4e3ff;
  }
  .text-purple {
    color: #6463f5;
  }


  .left-radius-0 {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .top-radius-0 {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
  }
  .bottom-radius-0 {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }


  /*Zoom In*/
.zoom-effect img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.zoom-effect:hover img {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}


.flip-box {
    background-color: transparent;
    height: 383px;
    perspective: 1000px;
  }
  .flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  .flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
  }
  .flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  /* .flip-box-front {
  
  } */
  .flip-box-back {
    transform: rotateY(180deg);
  }
  


@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%,0,0)
  }
  to {
    opacity: 1;
    transform: none
  }
}
.fadeInLeft {
  animation: 2s ease-in-out fadeInLeft;
}

@keyframes fadeInRight {
  from {
      opacity: 0;
      transform: translate3d(100%,0,0)
  }
  to {
      opacity: 1;
      transform: none
  }
}
.fadeInRight {
  animation: 2s ease-in-out fadeInRight
}

@keyframes fadeInDown {
  from {
      opacity: 0;
      transform: translate3d(0,-100%,0)
  }
  to {
      opacity: 1;
      transform: none
  }
}
.fadeInDown {
  animation: 2s ease-in-out fadeInDown
}

@keyframes fadeInUp {
  from {
      opacity: 0;
      transform: translate3d(0,100%,0)
  }
  to {
      opacity: 1;
      transform: none
  }
}
.fadeInUp {
  animation: 2s ease-in-out fadeInUp
}










  .footer-fluid {
    background-color: #0c368f;
    color: #fff;
  }
  .footer-fluid .navbar-expand-lg {
    width: auto;
  }
  .footer-fluid .navbar-dark .navbar-nav .nav-link {
    color: #fff;
    font-weight: 400;
  }



  
@media (min-width: 1200px) {
    .navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link {
      text-align: center;
      display: table-cell;
      height: 70px;
      vertical-align: middle;
      padding-top: 0;
      padding-bottom: 0;
    }
  
    .navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link > .fa {
      display: block;
      width: 48px;
      margin: 2px auto 4px auto;
      top: 0;
      line-height: 24px;
    }
  
    .navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link > .fa > .badge {
      top: -7px;
    }
  
    .ht-bg-image {
      height: 40rem;
    }
  }
  
  @media (min-width: 992px) {
    .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link {
      text-align: center;
      display: table-cell;
      /* height: 70px; */
      vertical-align: middle;
      padding-top: 0;
      padding-bottom: 0;
    }
  
    .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link > .fa {
      display: block;
      width: 48px;
      margin: 2px auto 4px auto;
      top: 0;
      line-height: 24px;
    }
  
    .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link > .fa > .badge {
      top: -7px;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
      padding-right: 1rem;
      padding-left: 1rem;
    }
  }
  
  @media (min-width: 768px) {
    .navbar-icon-top.navbar-expand-md .navbar-nav .nav-link {
      text-align: center;
      display: table-cell;
      height: 70px;
      vertical-align: middle;
      padding-top: 0;
      padding-bottom: 0;
    }
  
    .navbar-icon-top.navbar-expand-md .navbar-nav .nav-link > .fa {
      display: block;
      width: 48px;
      margin: 2px auto 4px auto;
      top: 0;
      line-height: 24px;
    }
  
    .navbar-icon-top.navbar-expand-md .navbar-nav .nav-link > .fa > .badge {
      top: -7px;
    }
  }
  
  @media (min-width: 576px) {
    .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link {
      text-align: center;
      display: table-cell;
      height: 70px;
      vertical-align: middle;
      padding-top: 0;
      padding-bottom: 0;
    }
  
    .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link > .fa {
      display: block;
      width: 48px;
      margin: 2px auto 4px auto;
      top: 0;
      line-height: 24px;
    }
  
    .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link > .fa > .badge {
      top: -7px;
    }
  }
  
  @media (max-width: 480px) {
    .ht-bg-image {
      height: 46rem;
    }
    
  }